#header {
	width:100%;
}

#header-logo a img {
	width:16.6%;
	float:left;
	margin:0 16.6%;
}

img#header-lines{
	width:16.6%;
	float:left;
	margin-right:16.6%;
}

#access {
	width:16.6%;
	height:100%;
}

#access ul{
	font-size:3.35em;
}

#access ul ul {
	right:145%;
	text-align:right;
}

#access a {
	line-height:.825em;
}

#access .current-menu-item > a, .current-menu-item > a,
#access .current-menu-ancestor > a, .current-menu-ancestor > a,
#access .current-page-item > a, .current-page-item > a,
#access .current-page-ancestor > a, .current-page-ancestor > a {
	text-decoration:underline;
	color:#000;
}

#blog-archives {
width: 33%;
float: left;
margin-top: 16.6%;
}

#blog-content {
	width:67%;
	float:right;
	background:white;
}


#primary.gray-bg {
	background: rgba(220, 220, 220, .7);
	float: left;
	position:absolute;
	z-index:-1;
	width: 100%;
	height: 100%;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
#primary.gray-bg {
  	top:13.75%;
}
#blog-content * .gallery {
	width: 50%;
	float: left;
}
 
.news-header, #blog-content p {
	width:40%;
	margin:5%;
}
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/*#primary.gray-bg {
	top:25.25%;
}
#blog-content * .gallery {
	width: 49.8%;
	float: left;
}
.news-header {
	width:45%;
	float:right;
}

#blog-content p {
	width:40%;
	margin:5%;
}*/
}